.a {
  text-decoration: none;
}
.div {
  width: 300px;
}

.img_div {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  transition: transforms 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
}

.div:hover .img {
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}

.btn_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.btn_play {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: #00000000;
  transition: background-color 0.5s, transform 0.5s;
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
}

.div:hover .btn_play {
  background-color: #00000077;
  transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
}

.img_arrow_div {
  width: 40px;
  height: 40px;
  overflow: hidden;
  transition: display 0.5s, opacity 0.5s;
  -webkit-transition: display 0.5s, opacity 0.5s;
  opacity: 0;
}

.div:hover .img_arrow_div {
  opacity: 1;
}

.img_arrow {
  width: 100%;
  height: 100%;
}

.title {
  color: black;
  font-size: 30;
}

.div:hover .title {
  font-weight: bold;
}
